.card {
  transition: transform 450ms;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;

}
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card > img {
  max-width: 95%;
  border-radius: 5px;
  height: 8vw;

  z-index: 1000;
}
.title {
  margin-top: 7px;
  text-align: center;
}
@media only screen and (max-width: 1300px) {
  .card > img {
    width: 90%;
    height: 9vw;
  }
  .title {
    font-size: medium;
  }
}
@media only screen and (max-width: 600px) {
  .card > img {
    width: 90%;
    height: 9vh;
  }
  .title {
    font-size: small;
  }
}
